
@media (max-width: 1000px) {
   
    .contents{
      width: 50%;
      margin-bottom: 50px;
    }
  }

  @media (max-width: 670px) {
    /* Ubah width milik lesson ke 100% */
    .lesson { 
      width: 100%;
    }
    /* Ubah text-align property milik <footer> */
    footer {
      text-align:  center;
    }
  }
.btn {
    width: 100%;
  }
  
  /* Gantikan margin-bottom facebook ke 10px */
  .facebook {
    margin-bottom: 10px;
  }
  
  /* Tambahkan CSS untuk top-wrapper */
  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }
  
}
