
@media (max-width: 1000px) {
   
    .contents{
      width: 50%;
      margin-bottom: 50px;
    }
  }

  @media (max-width: 670px) {
    /* Ubah width milik lesson ke 100% */
    .lesson { 
      width: 100%;
    }
    /* Ubah text-align property milik <footer> */
    footer {
      text-align:  center;
    }
  }
